.container {
  padding: 40px;
  width: 300px;

  .input {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
  }

  .listContainer {
    list-style: none;
    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid lightgray;
  }

  .selected {
    margin-top: 50px;
    width: 200px;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
}
